<!DOCTYPE html>

<html>
<head>
    <title>{{.PageTitle}}</title>
    <style>{{.StyleSheet}}</style>
    <meta charset="utf-8">
	<script src="static/js/sticky.js"></script>
</head>

<body>

	<div id="body">
		<div id="title">
			<h1>{{.PageTitle}}</h1>
			<ul class="menu">
				{{range .Menu}}
				<a href="{{.Link}}"><li>
					{{.Name}}
					<ul>
						{{range .Items}}
						<a href="{{.Link}}"><li>{{.Name}}</li></a>
						{{end}}
					</ul>
				</li></a>
				{{end}}
			</ul>
		</div>
		
		<div id="main">
			<div class="sidebar">
			
			</div>
			<div id="content">
				<p class="page-message" class="content">{{.Message}}</p>
				{{range .Content}}
				<h2 id="{{.Id}}">{{.Title}}</h2>
				{{range .Images}}
				<img class="{{.Size}}-image" src="{{.Src}}" alt="{{.Alt}}"/>
				{{end}}
				{{range .Text}}
				<p class="content">{{.}}</p>
				{{end}}
				{{end}}
			</div>
			<div class="sidebar">
				<nav class="sticky">
					Page Content:
					<ul>
						<li><a href="#">Top</a></li>
						{{range .Content}}
						{{if .Id}}
						<li><a href="#{{.Id}}">{{.Title}}</a></li>
						{{end}}
						{{end}}
						<li><a href="#footer">Bottom</a></li>
					</ul>
				</nav>
			</div>
		</div>
		
		<div id="footer">
			<div id="links">
				<a href="/">Main Page</a> 
			</div>
			<p>Developed By: {{.Author}} {{range .OtherAuthors}} || {{.}} {{end}}</p>
			<p>Page Last Updated: {{.Updated}}</p>
		</div>
	</div>

</body>
</html>
