<!DOCTYPE html>
<html>
	<head>
		<title>Dungeon Generation</title>
		<style>{{.StyleSheet}}
			#viewport {
				background-color:black;
				overflow: scroll;
				position: absolute;
				top: 25%;
				bottom: 25%;
				left: 25%;
				right: 25%;
			}
			
			.empty { visibility: hidden; }
			/*#controls { padding-top: 35%; white-space: nowrap; text-align: center; margin: 0 auto; }*/
		</style>
		<meta charset="utf-8">
		<script src="https://cdn.rawgit.com/konvajs/konva/0.11.1/konva.min.js"></script>
		<script src="static/js/sticky.js"></script>
		<script type="text/javascript">
		var scale = 32, playerSpeed=0.1, dungeon = {{.Dungeon}}, xPos = {{.PlayerX}}*scale, yPos =  {{.PlayerY}}*scale;
		</script>
		<script src="static/js/dungeon.js"></script>
	</head>
	<body>
		<div id="body">
		<div id="title">
			<h1>Dungeon Generation</h1>
		</div>
		
		<div id="main">
			<div class="sidebar">
			
			</div>
			<div id="content">
				<div id="viewport"><div id="grid"></div></div>
				<div id="controls">
					<button type="button" class="empty">&#8592;</button> <button type="button" onclick="move(0, -1)">&#8593;</button> <button type="button" class="empty">&#8594;</button><br/>
					<button type="button" onclick="move(-1,0)">&#8592;</button> <button type="button" onclick="move(0, 1)">&#8595;</button> <button type="button" onclick="move(1, 0)">&#8594;</button>
				</div>
			</div>
			<div class="sidebar">
				<nav class="sticky">
					Page Content:
					<ul>
						<li><a href="#">Top</a></li>
						<li><a href="#grid">Dungeon</a></li>
						<li><a href="#controls">Controls</a></li>
						<li><a href="#footer">Bottom</a></li>
					</ul>
				</nav>
			</div>
		</div>
		
		<div id="footer">
			<div id="links">
				<a href="/">Main Page</a> 
			</div>
			<p>Developed By: Andrew Wetmore</p>
			<p>Page Last Updated: 03/07/2016</p>
		</div>
	</div>
	</body>
</html>